<mat-card *ngIf="notificationList.length > 0">
    <!-- <mat-toolbar class="element-toolbar">Notification Schedule Details</mat-toolbar> -->
    <div *ngFor="let item of notificationList">
        <mat-card class="customcard">
            <mat-toolbar class="element-toolbar customtoolbar">Company Name: {{item.companyName}}</mat-toolbar>
            <app-schedule-details [notificationDates]="item.notificationDates"></app-schedule-details>
        </mat-card>
    </div>
</mat-card>
<div class="middle" *ngIf="notificationList.length == 0">
    <h1> No Records Found!</h1>
</div>