.dot {
    height: 50px;
    width: 60px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemsWidth {
    flex-grow: 1
}

.progresscontainer {
    width: 83%;
    position: absolute;
    left: 57px;
}